Django==3.2.11
djangorestframework==3.13.1
dmPython==8.1.2.98
gensim==4.0.1
jieba==0.42.1
numpy==1.21.4
pandas==1.0.5
PyMySQL==1.0.2
six==1.16.0
tensorflow==1.14.0
textda==0.1.0.6
torch==1.10.1+cu113
tqdm==4.62.3
